{%- extends "list.html" -%}

{% set form_nb_column = 2 %}

{% block toolbar %}
  <a href="{{ url_for('demo.DemoAdd:get') }}" title="Add">
    <img src="{{ url_for('static', filename='img/menu/top/toolbar/bt-add.gif') }}" id="toolbar-bt-add" alt="Add" border="0">
  </a>
{% endblock %}

{% block list_title %}
  <th class="th-center"><span class="title">Full name</span></th>
  <th class="th-center col-action">Action</th>
{% endblock %}

{% block list %}
  {% for user in users['items'] %}
    <tr onmouseover="this.tmp = this.className; this.className = 'sb-content l-infos-over';" onmouseout="this.className = this.tmp;" class="sb-content l-infos-1on2">
      <td class="td-left"><input name="users[]" id="it-users-0" class="it-checkbox" value="2" type="checkbox"></td>
      <td class="txt-left col_fullname" title="Chloé Mourat"><label for="it-users-0" id="lb-users-0">
        <img src="{{ url_for('static', filename='img/site/flag/enable.gif') }}" class="icons-list" alt="">{{ user.firstname }} {{ user.lastname }}</label>
      </td>
      <td class="td-right col_actions" colspan="2">
        <a href="{{ user.id }}" title="Edit">
          <img src="{{ url_for('static', filename='img/site/button/edit.gif') }}" alt="Edit" border="0">
        </a>
        <a href="{{ url_for('demo.DemoDelete:get', id=user.id) }}" title="Delete">
          <img src="{{ url_for('static', filename='img/site/button/delete.gif') }}" alt="Delete" border="0">
        </a>
      </td>
    </tr>
    {% endfor %}
{% endblock %}
