{%- extends "layout_user.html" -%}

{%- block additional_js -%}
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
  <script src="//raw.githubusercontent.com/jmesnil/stomp-websocket/master/lib/stomp.min.js"></script>
  <script src="//jpillora.com/jquery.rest/dist/1/jquery.rest.min.js"></script>
  <script src="{{ url_for('q_agentd.static', filename='js/jquery.gridly.js') }}"></script>
  <script src="{{ url_for('q_agentd.static', filename='js/xivo.js') }}"></script>
{%- endblock -%}

{%- block additional_css -%}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="{{ url_for('q_agentd.static', filename='css/jquery.gridly.css') }}">
  <link rel="stylesheet" href="{{ url_for('q_agentd.static', filename='css/xivo.css') }}">
{%- endblock -%}

{%- block content -%}
  <section class="content">
    <div class="gridly example">
      {% for agent in agents %}
        <div id="{{ agent.id }}" class="brick small">
        <p id="number">Agent: {{ agent.number }}</p>
        <p id="status">Logged: {{ agent.logged | lower }}</p>
        {% if agent.logged %}
          <p id="action" class="unlog">
            <a href="#">unlog</a>
          </p>
        {% else %}
          <p id="action" class="log">
            <a href="#">log</a>
          </p>
        {% endif %}
        </div>
      {% endfor %}
    </div>

    <div id="dialog-form" title="Login agent">
      <p class="validateTips">All form fields are required.</p>
      <form>
      <fieldset>
        <label for="extension">Extension</label>
          <input type="text" name="extension" id="extension" value="8000" class="text ui-widget-content ui-corner-all">
        <label for="context">Context</label>
          <input type="text" name="context" id="context" value="default" class="text ui-widget-content ui-corner-all">
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
      </form>
    </div>
  </section>

  <script>
    var bus_username = "{{ rabbitmq.username }}";
    var bus_password = "{{ rabbitmq.password }}";
    var bus_host = "{{ rabbitmq.scheme }}://{{ rabbitmq.host }}:{{ rabbitmq.port }}/stomp";
  </script>

{%- endblock -%}
