{%- extends "layout_user.html" -%}

{% set page_header="CTI" %}
{% set page_header_description="Change password" %}
{% set page_header_level=("cti","password") %}

{%- block additional_js -%}
{%- endblock -%}

{%- block content -%}
  <section class="content">
    <div class="row">
      <div class="col-md-2">
        <form role="form" method="post" action="{{ url_for('ctipassword.index') }}">
          {{ form.csrf_token() }}
	  {{ render_field(form.password) }}
	  {{ render_field(form.submit) }}
        </form>
      </div>
    </div>
  </section>

{%- endblock -%}

